<h1>List of Shows</h1>
    <main>
        <p class="intro">Welcome! This website will list all the shows! This is the homepage. </p>
        {{#if error}}
        <div class="errorName">404 Page Not Found</div>
        {{else}}
        {{#if shows}}
        <ul>
            {{#each shows}}
                <li class="list"><a href="/shows/{{id}}">{{name}}</a></li>
            {{/each}}
        </ul>
        {{/if}}
        {{/if}}
    </main>