$body-background: rgb(46, 223, 46);
$brand-primary: black;
$primary-font-size: 16px;
$secondary-font-size: $primary-font-size / 2pt;
$main-content-class: "products";
$font: 'Helvitica', sans-serif;
$font-style: italic;